/* General */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus,
a:active {
    text-decoration: underline;
}


/* Sidebar + Links */
.sidebar {
    display: none;
}
.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    color: rgb(61, 79, 93);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: .5em .75em;
}
.nav-item i {
    display: block;
    margin-bottom: 3px;
}
.nav-item span {
    font-size: xx-small;
}
.nav-item a:hover,
.nav-item a:focus,
.nav-item a:active {
    background: white;
    color: rgb(61, 146, 201);
    text-decoration: none;
    box-shadow: none;
}
.nav-item a:hover span,
.nav-item a:focus span {
    text-decoration: underline;
}


/* Content */

.content {
    padding: 1em;
}
.links {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.post {
    padding-bottom: 0;
}
.photos {
    padding-top: 0;
}
.photos .read-more {
    padding-top: 1.5em;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-meta {
    color: #999;
    font-size: 80%;
    margin: 0;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.read-more {
    font-size: 80%;
    text-align: center;
    clear: both;
}
.read-more i {
    margin-left: 4px;
}


/* Larger screens */

@media (min-width: 48em) {
    .sidebar {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        overflow-y: auto;
    }
    .header {
        text-align: right;
        top: auto;
        margin: 4em auto;
    }
    .nav {
        display: inline-block;
        border-right: solid 1px #eee;
    }
    .nav .nav-item {
        float: right;
        clear: right;
        width: 100%;
    }
    .nav .nav-item a {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        width: 100%;
    }
    .content {
        margin-left: 25%;
        padding-left: 2em;
        padding-right: 3em;
    }
    .links {
        padding-top: 2em;
    }
    .links, .posts {
        max-width: 600px;
    }

}


/* Photo gallery */

#gallery a {
    float: left;
    font-size: 0;
    outline: none;
}
#gallery.noscript {
    margin: 2em;
}
#gallery.noscript a {
    display: inline-block;
    float: none;
    margin: 0 1rem 1.2rem 0;
    vertical-align: top;
}


/* Lightbox */

.mfp-bg {
    background: none !important;
    -webkit-transition: background .5s;
    transition: background .5s;
}
.mfp-bg.mfp-ready {
    background: #0b0b0b !important;
}
.mfp-bg.mfp-removing {
    background: none !important;
}

.mfp-wrap {
    letter-spacing: normal;
}
.mfp-wrap button {
    transition: opacity .5s;
}
.mfp-wrap.mfp-removing button {
    opacity: 0 !important;
}

button.mfp-arrow {
    /*background: white;*/
}
button.mfp-arrow-left {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
button.mfp-arrow-right {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
